<html lang="en">
<head>
  <meta charset="utf-8">
  <title>mastermind.rb</title>

  <meta name="description" content="Mastermind">
  <meta name="author" content="Robin Unger">
  <link rel="stylesheet" type="text/css" href="<%=url('stylesheets/index.css')%>">
</head>

<body>
  <h1>Mastermind</h1>

  <% unless @game %>
    <%= erb :_setup %>
  <% else %>
    <% if @game.game_won %>
      <h2>Congratulations, you win!</h2>
    <% elsif @game.current_turn > @game.max_turns %>
      <h2>Game Over, you lose.</h2>
    <% else %>

      <% if @game.player.role == 1 %>
        <%= erb :_color_picker %>
      <% else %>
        <%= erb :_code_picker %>
      <% end %>

    <% end %>
    <%= erb :_board %>


    <!-- DEBUG STUFF -->
    <div class="cheats">
      <div>
        Secret Code: 
        <% @game.board.secret.each do |cell|  %>
          <%= cell.value %>
        <% end %>
        <% unless @game.board.key_grid.empty?%>
          Matches: 
          <% @game.board.key_grid.last.each do |cell|  %>
            <%= cell.value %>
          <% end %>
        <% end %>
      </div>
      <div>Game Won? <%= @game.game_won %></div>
      <div>Current Turn: <%= @game.current_turn %></div>
      <div>Max Turns: <%= @game.max_turns %></div>
      <div>Player role: <%= @game.player.role %></div>
      <div>Secret Code: <%= settings.secret_code %></div>
    </div>

  <% end %>



</body>